html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

.page-header__container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #dddddd;
}

.page-header__logo {
  padding-left: 2rem;
}

.page-header__logo-image {
  min-width: 90px;
}

.page-header__lead-link {
  font-weight: bold;
}

.page-header__lead-link:hover {
  text-decoration: none;
}

.page-header__lead-link:active {
  opacity: 0.5;
}

.page-header__lead-link--soft:hover {
  color: #454545;
  text-shadow: 0px 0px 10px #454545;
}

.page-header__lead-link--hard:hover {
  color: #8a8a8a;
  text-shadow: 0px 0px 10px #8a8a8a;
}

.page-header__lead-link--solut:hover {
  color: #b72151;
  text-shadow: 0px 0px 10px #b72151;
}

.page-header__lead-link--soft {
  color: #454545;
}

.page-header__lead-link--hard {
  color: #8a8a8a;
}

.page-header__lead-link--solut {
  color: #b72151;
}

.social__list {
  margin: auto;
}

.social__link {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transition: transform 1.5s linear;
  background-image: url("../img/1.png");
  background-size: cover;
}

.social__link:hover {
	-o-transform: rotate3d(0, 1, 0, 180deg);
	-ms-transform: rotate3d(0, 1, 0, 180deg);
	-moz-transform: rotate3d(0, 1, 0, 180deg);
	-webkit-transform: rotate3d(0, 1, 0, 180deg);
	transform: rotate3d(0, 1, 0, 180deg);
}

.social__link--blue:hover {
  box-shadow: 0px 0px 10px #1f82f9;
}

.social__link--red:hover {
  box-shadow: 0px 0px 10px #ee2223;
}

.social__link--purple:hover {
  box-shadow: 0px 0px 10px #ec1edb;
}

.social__link:active {
  opacity: 0.5;
}

.social__link--blue {
  background-color: #1f82f9;
}

.social__link--red {
  background-color: #ee2223;
}

.social__link--purple {
  background-color: #ec1edb;
}

.navbar {
  background-color: #e7ece8;
}

.navbar-toggler {
  position: absolute;
  top: -2.4rem;
  right: 1rem;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
    background: #c22250;
    outline: none;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.nav__link {
  font-weight: 600;
  text-transform: uppercase;
  color: #8a8a8a;
}

.nav__link--purple {
  color: #b72151;
}

.nav__link:hover {
  color: #454545;
}

.nav__link--purple:hover {
  color: #7e1a39;
}

.nav__link:active {
  opacity: 0.5;
}

.page-main {
  padding: 0;
}

.product__item {
  display: flex;
  padding: 0;
  margin-right: 7px;
}

.product__link--system {
  background-image: url("../img/product_system.jpg");
}

.product__link--hardware {
  background-image: url("../img/product_hardware.jpg");
}

.product__link--software {
  background-image: url("../img/product_software.jpg");
}

.product__link--safe {
  background-image: url("../img/product_safe.jpg");
}

.product__link--web {
  background-image: url("../img/product_web.jpg");
}

.product__link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 170px;
  text-transform: uppercase;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.product__link span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35%;
  padding: 5px 10px;
  min-height: 30%;
  background-color: rgba(204, 27, 81, 0.6);
}

.product__item:hover, iframe:hover {
  box-shadow: 0px 0px 10px #000;
}

.product__link:hover {
  color: #fff;
}

.product__link:active {
  opacity: 0.5;
}

.page-footer__logo {
  min-width: 85px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-footer {
  background-color: #3a3c3b;
}

@media (max-width: 991px) {
  .navbar {
    text-align: center;
    box-shadow:  0px 11px 17px 0px rgba(50, 50, 44, 0.69);
  }
}

@media (min-width: 576px) {
  .social__list {
    padding-left: 2rem;
  }
  iframe {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: block !important;
  }
  .nav__link {
    font-size: 0.7rem;
  }
  .main-container {
    background-image: linear-gradient(to right, #e7ece8 26%, white 26%);
  }
  iframe {
    height: 430px;
  }
  .nav__item:first-child {
    padding-top: 6rem;
  }
  .nav__item:last-child {
    padding-bottom: 8rem;
  }
  .product__list {
    margin-left: 0;
    margin-right: 0;
  }
  .product__link {
    font-size: 0.7rem;
  }
}

@media (min-width: 2200px) {
  .main-container {
    background-image: linear-gradient(to right, #e7ece8 35%, white 35%);
  }
}

@media (min-width: 3300px) {
  .main-container {
    background-image: linear-gradient(to right, #e7ece8 40%, white 40%);
  }
}
